<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlConn" connectionString="Server=DESKTOP-42T5SRS\SHRIGANESH;Database=WebPortalDBUAE;uid=sa;pwd=test@123;Pooling=true;Max Pool Size=10000;Connect Timeout=600" providerName="System.Data.SqlClient"/>
    <add name="TestDB4Context" connectionString="Server=DESKTOP-42T5SRS\SHRIGANESH;Database=WebPortalDBUAE;uid=sa;pwd=Test@123;Pooling=true;Max Pool Size=10000;Connect Timeout=600" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>